body,
html {
    width: 100%;
    height: 100%;
}

.cell {
    width: 60px;
    height: 60px;
    background-image: url('./img/azkviz.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    transform: scale(1.2);
    margin: 0 5px;
    transition: all 300ms ease;
    cursor: pointer;
    text-align: center;
}

.cell:hover {
    transform: scale(1.3);
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-top: -150px;
    margin-right: -10px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    width: 490px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    transition: all 400ms ease;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: 3em;
    background-clip: padding-box;
    padding: 3em;
}
#mogal, #mogal div, .cell{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#mogal {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.144);
    position: relative;
    top: 25px;
    border-radius: 25px;
    opacity: 0;
    transition: 400ms ease opacity;
    justify-content: space-between;

    flex-direction: column;
    padding: 1.25em 1em;
}
#mogal p {
    font-size: 1.5em;
    margin: 0;
}
#mogal button{
    padding: 0.5em;
    margin: 0 0.5em;
}

#lmaoo {
    position: absolute;
    top: 0;
    left: -40px;
    height: 100%;
}

#lmaoo2 {
    top: 0;
    position: absolute;
    right: 0px;
    height: 100%;
}
#correct{
    background-color: #753A88;
}
#wrong{
    background-color: #CC2B5E;
}
.selected{
    filter: contrast(.25);
}
.black{
    background-image: url('./img/azkviz-black.svg');
}
#threatone{
    background-image: url('./img/azkviz-blue2.svg');
}
#threattwo{
    background-image: url('./img/azkviz-orange.svg');
}